doctype html
html
head
  title PUG
  style
    include style/style.css
  body
    include modules/header
    h1 pug
    p.qwe1 Lorem ipsum — классическая панграмма, условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы. Используется в качестве заполнителя по крайней мере с XVI века. 
 
