doctype html
html
head
  title PUG
  style
    include style/style.css
  body
    include modules/header
    h1 static page
    p.qwe2 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    
